
/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-weight: 100;
}

html {
  font-size: 62.5%;
}

body {
  margin: 1rem;
  padding: 2rem 3rem;
}

/*--------HEADER--------*/


.header {
  margin: 1rem 0;
}

.header_name {
  margin: 1rem 0;
  font-size: 3rem;
}

.header_emptyCartSentence {
  margin: 1rem 0;
  color: grey;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  border-bottom: .1rem solid rgb(212, 212, 212);
}

/*--------ITEM-PROPERTIES--------*/

.itemProperties {
  display: flex;
  border-bottom: 0.2rem solid rgb(155, 155, 155);
}

.itemProperties_itemsAmount,
.itemProperties_size,
.itemProperties_quantity,
.itemProperties_price {
  color: grey;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.itemProperties_itemsAmount {
  flex: 14;
  margin-left: 2rem;
}

.itemProperties_size,
.itemProperties_price {
  flex: 1;
}

.itemProperties_quantity {
  flex: 2;
}

/*--------ITEM-CARD--------*/


.itemInTheCart {
  border-bottom: 10px solid rgb(212, 212, 212);
}
  
.item {
  display: flex;
  padding: 3rem 0;
  border-bottom: .1rem solid rgb(212, 212, 212);
}

.item__properties {
  display: flex;
  align-items: flex-start;
}

.item__description-container {
  width: 100%;
}

.item__name {
  text-transform: uppercase;
  margin-bottom: 1rem;
  flex: 20;
}

.item__size {
  flex: 1.5;
}

.item__quantity {
  flex: 3;
}

.item__price {
  flex: 1.5;
  font-size: 2.1rem;
  font-weight: 900;
  display: flex;
}

.item__priceWithOld {
  flex: 1.5;
}

.item__image {
  width: 15rem;
  margin-right: 1rem;
}

.item__style,
.item__color {
  color: grey;
  margin: .5rem 0;
}

.item__priceNotRelevant {
  color: rgb(209, 209, 209);
  text-decoration: line-through;
  font-size: 1.8rem;
  display: flex;
}

.item__dollarSign {
  font-size: 1.5rem;
}

.itemOptions {
  display: flex;
  margin-top: 25px;
}

.itemOptions p {
  font-size: 1.3rem;
  color: grey;
}

.itemOptions p:hover {
  color: black;
  cursor: pointer;
}


/*--------EDIT-PAGE--------*/
.mainEditPage {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.editPage__centerDiv {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(39, 39, 39);
  width: 70rem;
  height: 48rem;
  background-color: white;
}

.x-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.closing-button {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.closing-button:hover {
  cursor: pointer;
}

.editPage__centerDiv-content {
  display: flex;
  padding: 10px;
  height: 100%;
  align-items: center;
}

.editPage__content {
  width: 40%;
  margin: 0 7% 0 3%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 10px solid rgb(223, 221, 221);
}

.editPage__image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.editPage__image {
  width: 240px;
  height: 370px;
}

.editPage__itemName {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  color: grey;
}

.editPage__itemPrice {
  font-size: 3rem;
  display: flex;
  padding: 10px 0 30px 0;
  font-weight: 900;
  color: grey;
}

.editPage__itemstyle {
  font-size: 1.5rem;
  padding: 0 0 10px 0;
  font-weight: 900;
  color: rgb(168, 168, 168);
}

.editPage__colorSection {
  display: flex;
}

.editPage__editButton {
  font-size: 1.5rem;
  padding: 8px 48px;
  margin: 10px;
  font-weight: 400;
  border-radius: 3px;
  color:white;
  background-color: #0073b1;
}

.editPage__editButton:hover {
  cursor: pointer;
}

.editPage__productDetail {
  color: grey;
  font-size: 1.3rem;
}

.editPage__colorText {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(184, 184, 184);
}

select {
  width: 90px;
  height: 23px;
  margin: 10px 5px 10px 0;
  font-size: 14px;
  border-radius: 5px;
}

.editPage__itemAmount {
  width: 50px;
  height: 30px;
  padding: 5px;
  font-size: 1.2rem;
}

/*--------CHECKOUT--------*/

.checkout__section {
  display: flex;
}


/*---CUSTOMR-SERVICE---*/


.customerHelp {
  margin: 3rem 0 ;
  flex: 1;
}

.customerHelp__mainLine {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem; 
  color: grey;
}

.customerHelp__customerServiceLine {
  font-size: 1.5rem;
  color: grey;
}

.customerHelp__chatLine {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.customerHelp__chatLine a { 
  color: rgb(48, 48, 48);
}

/*---BILL---*/

.checkout {
  margin: 3rem 0;
  flex: 0.75;
}

.checkout__giftCard-enter {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
  margin-bottom: 15px;
}

.checkout__giftCard-sentence {
  flex: 1;
  color: grey;
  margin-left: 15px;
}

.checkout__giftCard-input {
  flex: 0.6;
  margin-right: 5px;
  font-size: 20px;
  height: 34px;
}

.checkout__giftCard-apply {
  padding: 8px 16px;
  font-size: 1.4rem;
  border: 1.5px solid rgb(212, 212, 212);
}

.checkout__giftCard-apply:hover {
  cursor: pointer;
  border: none;
  background-color: rgb(47, 218, 47);
  color: white;
}

.checkout__price {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
  margin-bottom: 25px;
}

.checkout__subTotal,
.checkout__promotionCode-applied,
.checkout__shipping {
  display: flex;
  margin: 15px 0;
  color: rgb(70, 69, 69);
}


.checkout__promotionCode-applied h2 {
  flex: 1;
  margin-left: 15px;
}

.checkout__promotionCode-applied p {
  display: flex;
  font-size: 2.1rem;
  font-weight: 900;
}

.checkout__subTotal h2,
.checkout__shipping div,
.checkout__estimatedTotal h2{ 
  flex: 1;
  margin-left: 15px;
}

.checkout__subTotal p,
.checkout__shipping p { 
  display: flex;
  font-size: 2.1rem;
  font-weight: 900;
  color: rgb(78, 78, 78)
}

.checkout__estimatedTotal p {
  display: flex;
  font-size: 2.6rem;
  font-weight: 900;
}

.checkout__shipping--leftSide {
  display: flex;
  flex-direction: column;
}

h5 {
  color: grey;
  font-size: 1.1rem;
  margin-top: 3px;
}

.shipping-price {
  font-size: 2.1rem;
  font-weight: 900;
  margin-left: 15px;
}

.free-sign {
  color: grey;
  font-size: 1.5rem;
}

.checkout__estimatedTotal {
  display: flex;
  margin-top: 15px;
  padding-bottom: 25px;
  font-size: 1.4rem;
  color: rgb(102, 102, 102);
  border-bottom: 9px solid rgb(235, 235, 235);
}

.checkout__end {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.checkout__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout__continueShipping {
  color: rgb(46, 46, 46);
  font-size: 1.5rem;
  margin: 10px 30px 10px 0;
}

.checkout__button {
  color: white;
  padding: 12px 15px;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #0073b1;
  border-radius: 2px;
  margin: 10px 0px;
}

.checkout__secure-sentence {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  color: grey;
}

.lock-icon {
  width: 25px;
}

